@import url('https://fonts.cdnfonts.com/css/norwester');
body {
  margin: 0;
  padding: 0;
  background: url('../images/template21.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
}
.under-construction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/template22.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.uc-board {
  border-radius: 6px;
  position: relative;
  display: inline-block;
  transform: rotate(-3deg);
}
.uc-heading {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  font-family: 'Norwester', sans-serif !important;
  letter-spacing: 2px;
}
.uc-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 220px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-family: 'Norwester', sans-serif !important;
  letter-spacing: 2px;
}
.uc-board {
  margin-top: 20px !important;
  padding-top: 0 !important;
}
.uc-heading {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.uc-divider{
  display: flex; 
  justify-content: center;
}
.uc-board {
  text-align: center;
  padding: 70px 20px;
}
.uc-heading {
  margin-right: 10px !important;
  font-size: 50px !important;
}
.uc-description {
  margin-top: 100px;
}
.uc-divider {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 50px;
}
.uc-divider .uc-title {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-size: 50px !important;
}
@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        background: url('../images/template21.png') repeat;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        height: 100vh;
    }
    .under-construction-container {
        background: none !important;  
    }
    .uc-board {
        border-radius: 6px;
        position: relative;
        display: inline-block;
        text-align: center;
        padding: 70px 20px;
    }
      .uc-heading {
        text-transform: uppercase;
        font-weight: bold;
        display: inline;
        margin-right: 10px !important;
    }
      .uc-title {
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 250px;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }
      .uc-description {
        margin-top: 100px;
        font-weight: bold;
    }
}
@media (max-width: 320px) {
    .under-construction-container {
        background: none !important;  
    }
}
